
.text-sty{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 100%;
}

.textarea-sty{
    
}
.configbox{

}
.configbox:focus{
    border:1px solid #8e8eff;
    border-radius: 5px;
}

.audio-payer{
    padding: 5px 20px;
    height: 55px;
}

.dropdownSty{
    cursor: pointer;
    color: #aaa;
}

.dropdownSty:hover{
    opacity: .6;
}