.extract{
    height: 100%;
    overflow: auto;
    padding: 0 15px 15px 15px;
}

.uploadBox{
    display: flex;
    flex-direction: column;
    gap: 15px;
    height: 100%;
}

.uploader{
    flex: 1;
}

.console{
    border: 1px solid #1677ff;
    border-radius: 3px;
    height: 100%;
    overflow: hidden;
    padding: 5px 10px;
}
